--indent 4
--max-width 140
--list-wrap-threshold 100
--wrap-arguments before-first
--wrap-parameters before-first
--wrap-collections before-first
--allow-partial-wrapping false
--disable wrapMultilineStatementBraces
--enable wrapGuardStatementBodies
--import-grouping testable-last
--trailing-commas collections-only
--header strip
--semicolons never
--enable propertyTypes
--property-types inferred
--enable blockComments
--enable preferFirstWhere
--enable preferContains
--enable preferCountWhere
--enable organizeDeclarations
--organization-mode type
--mark-categories false
